.background {
  position: fixed;
  display: none;
  overflow-y: auto;
  place-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  background-color: rgba(24, 18, 48, 0.5);
  backdrop-filter: blur(5px);

  .todo-wrapper {
    position: absolute;
    width: 600px;
    border: 2px solid rgb(72, 66, 66);
    display: flex;
    height: fit-content;
    align-items: center;
    top: 20%;
    flex-direction: column;
    background: rgb(36, 36, 36);
    padding: 20px;

    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 90%;
      height: 100%;
      padding-top: 30px;

      input {
        background: 0;
        border: 0;
        padding: 10px;
        width: 100%;
        transform: scale(0.9);
        font-size: large;
        transition: transform 0.3s ease, border-width 0.3s ease;

        &[id="title"] {
          font-weight: bold;
        }

        &:focus {
          border: 0;
          border-bottom: 2px solid rgb(72, 66, 66);
          outline: none;
          transform: scale(1);
        }
      }

      textarea {
        border: 0;
        background: rgb(49, 48, 48);
        padding: 10px;
        font-size: 1.2rem;
        min-height: 200px;
        transition: transform 0.3s ease, border 0.3s ease;
        transform: scale(0.9);
        resize: none;
        overflow: hidden;

        &:focus {
          outline: none;
          transform: scale(1);
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .tag {
          background: #0bad77;
          padding-left: 7px;
          border-radius: 10px;
          font-size: small;
          display: flex;
          transition: transform 0.3s ease-in-out;

          span {
            background: #0bad77;
            border-radius: 0px 10px 10px 0px;
            padding: 0px 5px 0px 10px;
            content: url('../icons/close-icon.svg');

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .buttons {
        display: flex;
        gap: 10px;
        justify-content: space-between;
      }

      button[type="clear"] {
        content: url('../icons/reset-icon.svg');
        fill: currentColor;
      }

    }


    .header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 2px solid rgb(72, 66, 66);
      padding: 0px 0px 15px 15px;

      .close {
        content: url('../icons/exit-icon.svg');
        fill: currentColor;
        display: flex;
        place-items: center;
        padding: 5px;
        transition: background 0.3s ease;
        cursor: pointer;

        &:hover {
          background: rgb(67, 67, 67);
        }
      }

      span {
        display: flex;
        place-items: center;
      }
    }
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .background {
    .todo-wrapper {
      padding: 20px;
      width: 100vw;
      overflow-x: hidden;
      align-self: flex-end;

      @media (min-width: 600px) {
        width: 600px;
      }
    }
  }
}