@use 'addNewTodo.scss';
@use 'alertBox.scss';
//@use 'cursorShadow.scss';
@use 'init.scss';


.main {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    padding: 10px;
    background: #27252b;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
  }

  .header-list {
    padding: 20px;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    user-select: none;
  }

  .todos {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    overflow: hidden;
    max-height: 9999px;
    transition: max-height 0.2s ease-in-out;

    &[expanded] {
      max-height: 9999px;
    }

    &[collapsed] {
      max-height: 0;
    }

    .todo {
      border: 1px solid white;
      padding: 15px;
      height: 300px;
      width: 250px;
      background: #424242;
    }
  }

  svg {
    transition: transform 0.15s ease-in-out;

    &[rotated] {
      transform: scaleY(-1) translateY(25%);
    }
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .main {
    padding: 0;

    .todos {
      place-items: center;
    }
  }

  .background {
    .form-wrapper {
      border-radius: 0px;
      border: 0;
    }
  }
}