.main {
  padding: 20px 20px 20px 70px;

  .lists {
    gap: 20px;
    display: flex;
    flex-direction: column;

    .list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow: hidden;
      padding: 10px;
      background: #27252b;
      justify-content: space-between;
      -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
    }
  }

  .header-list {
    padding: 20px;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    user-select: none;

    &>* {
      pointer-events: none;
    }

    img {
      transition: transform 0.3s ease-in-out;

      &[rotated] {
        transform: scaleY(-1);
      }
    }
  }

  .todos {
    display: grid;
    gap: 10px;
    overflow: hidden;
    height: 0;
    transition: max-height 0.5s ease-in-out;
    grid-template-columns: repeat(var(--columns), 1fr);

    &[expanded='true'] {
      height: fit-content;
    }

    .todo {
      display: grid;
      grid-template-rows: 1fr 5fr 1fr 0.5fr;
      width: 100%;
      padding: 5%;
      aspect-ratio: 9/11;
      overflow-y: scroll;
      border-radius: 10px;
      border: 1px solid rgb(117, 117, 117);
      background: #191616;
      gap: 10px;
      cursor: pointer;
      position: relative;
      z-index: 2;
      word-break: break-all;

      .img-wrapper {
        display: flex;
        position: absolute;
        place-self: center;
        background: rgba(255, 255, 255, 0.188);
        border-radius: 50%;
        pointer-events: none;

        img {
          height: 50px;
        }
      }

      &:hover::before {
        opacity: 1;
      }

      &::before {
        background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(219, 219, 219, 0.1),
            transparent 40%);
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        position: absolute;
        top: 0px;
        width: 100%;
        //pointer-events: none;
      }

      .buttons {
        visibility: hidden;
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        place-items: center;
        gap: 10px;
        padding: 5px;

        .button {
          border-radius: 50%;
          display: flex;
          background: rgb(85, 79, 79);

          &:hover {
            border: 1px solid white;
          }

          &:active {
            background: rgb(139, 129, 129);
          }

          img {
            height: 30px;
            width: 30px;
          }
        }
      }

      &:hover {
        .button {
          visibility: visible;
        }
      }

      h2 {
        justify-self: center;
        margin: 5px;
      }

      .date {
        color: rgb(149, 144, 144);
        font-size: smaller;
        margin: 5px;
        place-self: flex-end;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: 5px 0px 5px 0px;

        span {
          background: #0bad77;
          display: flex;
          height: 25px;
          place-items: center;
          padding: 0px 7px 0px 7px;
          border-radius: 10px;
          font-size: small;
          display: flex;
        }
      }
    }
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .main {
    padding: 0;

    .todos {
      place-items: center;
    }
  }

  .background {
    .form-wrapper {
      border-radius: 0px;
      border: 0;
    }
  }
}

@media (max-width: 1200px) {
  .main {
    .lists {
      .list {
        .todos {
          .todo {
            font-size: small;

          }
        }
      }
    }
  }
}